
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      position: relative;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 400px;
      text-align: center;
      overflow: hidden;
      height: 100vh;
    }

    h2 {
      font-family: "Play", sans-serif;
      font-weight: 400;
      font-style: normal;
      text-decoration: underline;
      font-size: 24px;
      color: #333;
      margin-bottom: 20px;
    }

    #username, #usercity {
      font-weight: bold;
      color: #4CAF50;
    }

    ul {
      list-style-type: none;
      margin: 0;
      max-height: 300px;
      overflow-y: auto;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 30px 25px;
      background-color: #fff;
    }
    
    #messages>li{
      margin-right: 0px;
      width:80%;
    }

    li {
      height:fit-content ;
      max-width: 100%;
      overflow: hidden;
      padding: 10px 15px;
      margin-bottom: 20px;
      background: #f2f2f2;
      border-radius: 20px 20px 0px 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      word-wrap: break-word;
      word-break: break-all;
      position: relative;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }
    


    form {
      position: relative;
      bottom: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin:0;
    }

    input[type="text"] {
      flex: 1;
      padding: 10px;
      margin-right: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 14px;
    }

    button[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    button[type="submit"]:hover {
      background-color: #45a049;
    }

    .online-count {
      margin-top: 10px;
      font-size: 14px;
      color: #666;
    }

    .logoff-button {
      background-color: #f44336;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      margin-top: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .logoff-button:hover {
      background-color: #d32f2f;
    }

    #input {
      padding: 10px 15px;
      margin: 0px;
      outline: none;
      border: .9px solid #B7D0BC;
    }

    #messages {
      margin: 1px;
      
    }
    
    .new-user {
      color: #4CAF50;
      font-weight: bold;
      margin-bottom: 10px;
    }
    
    .message {
      width: 100%;
      text-align: right;
      margin-top: 1px;
    }
    
    .name, .min, .city{
      width: 40px;
      height: 14px;
      align-items: left;
    }
    
    .name {
     font-size: 12px;
     color: #3ABE54;
     font-weight: 900;
     width: 200px;
     text-align: left;
    }
    
    .min {
     font-size: 12px;
     color: #22AB45;
     text-align: left;
    }

    .city {
     width: 200px;
     font-size: 12px;
     color: #999;
     text-align: left;
    }
    
    #newUserAlert {
      bottom: 50px;
      height: 50px;
    }

    #newUserAlert.animate {
      animation: blurColorAnimation 1s ease-in;
    }

    @keyframes blurColorAnimation {
      0% {
        filter: blur(10px);
        opacity: 0;
        border-radius:30%;
      }
      50% {
        filter: blur(5px);
        opacity: 0.5;
      }
      100% {
        filter: blur(0px);
        opacity: 1;
      }
    }
    
    /* Estilo do botão para mostrar usuários online */
    #showOnlineUsersButton {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-top: 20px;
    }

    #showOnlineUsersButton:hover {
      background-color: #45a049;
    }

    /* Estilo da sobreposição */
    #onlineUsersOverlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }

    #overlayContent {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      position: relative;
      text-align: center;
      width: 100vw;
    }

    #closeOverlayButton {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #f44336;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      padding: 5px 10px;
    }

    #closeOverlayButton:hover {
      background-color: #d32f2f;
    }

    #onlineUsersList {
      list-style-type: none;
      padding: 0;
      margin-top: 20px;
    }

    #onlineUsersList li {
      background: #f2f2f2;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 4px;
    }

    h2 {
      font-family: "Play", sans-serif;
      font-weight: 400;
      font-style: normal;
      text-decoration: underline;
    }

    span {
      font-weight: bold;
      color: #4CAF50;
    }
    
      @keyframes blink {
            0% { color: black; }
            50% { color: green;
            scale:1.1;}
            100% { color: black; }
        }

        h4.blinking-text {
            animation: blink 5s infinite;
        }
        
      
      .logoff-button {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 60px ;
        border-radius: 0px 0px 0px 8px;
      }
      
      #showOnlineUsersButton{
          display:block;
          position: absolute;
          top:0px;
          left: 0px;
          width: 24px;
          transition: 1.5s ;
          border-radius: 0px 0px 8px 0px;
      }
      
      #showOnlineUsersButton:focus{
          width: 100vw;
          height: 100vh;
      }
      
      #showOnlineUsersButton>Img{
          position: relative;
          left:4px;
          margin: 0;
      }
      
      
      img:hover {
          scale: 10;
          z-index: 1;
      }
